.container{
    display: grid;
    /* grid-template-columns: repeat(4, 1fr); */
    grid-template-columns: repeat(auto-fill, minmax(257px, 1fr));
    min-height: 80vh;
}

.pagination{
    width: 100%;
    display: flex;
    justify-content: center;
    
}
