.discount{
    background-color: green;
    padding: 5px;
    border-radius: 5px;
    color: white;
    width: max-content;
    position: absolute;
    top: 0px;
    right: 0px;
    font-size: small;
}

.content{
    padding-bottom: 5px!important;
}