.container{
    display: flex;
    padding: 3rem;
    /* width: 100%; */
    gap: 3rem;
    min-height: 70vh;
    justify-content: space-around;
}

.imgSection, .details{
    height: auto;
}

.imgSection{
    /* flex-grow: 1; */
    width: 25%;
}

.details{
    width: 75%;
    /* flex-grow: 5; */
    padding-inline: 2rem;
}

.oldPrice{
    text-decoration: line-through;
}